footer{
    background: rgb(65,65,65);
    background: linear-gradient(180deg, rgba(65,65,65,1) 0%, rgba(0,0,0,1) 100%);    
    .container{
    padding: 15px 0;
        display: flex;
        flex-direction: column;
        text-align: center;
        .footer-logo{
            margin-bottom: 10px;
        }
        .social-media{
            margin-bottom: 40px;
            a{
                font-size: 22px;
                margin: 0 20px;
            }
        }
        .about-us-links{
            .about-us__link{
                text-decoration: none;
                color: $social-icons-color;
                font-size: 12px;
                margin: 0 10px;
                &:hover{
                    color: $white;
                }
            }
        }
        .copyright{
            .copyright__info{
                font-size: 12px;
                color: $top-nav-font-color;
            }
        }
    }
}

.go-up-arrow{
    position: fixed;
    z-index: 500;
    right: 40px;
    bottom: -20px;
    background: rgb(65,65,65);
    background: linear-gradient(180deg, rgba(65,65,65,1) 0%, rgba(0,0,0,1) 100%);
    color: $social-icons-color;
    border: none;
    font-size: 24px;
    font-weight: bold;
    border-radius: 100%;
    padding: 15px 20px;
    cursor: pointer;
    opacity: 0;
    transition: all .3s ease;
    &:active{
        color: #000;
    }
}