$top-nav-background: rgb(34,34,34);
$top-nav-border: rgb(74,74,74);
$top-nav-font-color: rgb(157,157,157);
$social-icons-color: rgb(228,228,228);
$bottom-nav-background:rgb(192,35,40);
$white : #fff;

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-size: 16px;
    font-family: 'Open Sans', Arial, sans-serif;
    background: #000;
    color: #fff ;
}

.container{
    width: 90%;
    max-width: 1140px;
    margin: auto;
    overflow: hidden;
}

.social-media{
    a{
        color: $social-icons-color;
        margin-left: 20px;
        &:hover{
            color: rgb(194, 194, 11);
        }
    }
}