main{
    .main-movies{
        position: relative;
        top: 10px;
        z-index: 1;
        margin-bottom: 20px;
        .container{
            overflow: visible;
            position: relative;
            .cities{
                background: $white;
                width: 175px;
                position: absolute;
                z-index: 100;
                right: 0px;
                top: -10px;
                padding: 5px 5px;
                z-index: 1000;
                .city{
                    color: $bottom-nav-background;
                    text-align: right;
                    border-bottom: 1px solid $bottom-nav-background;
                    padding-right:8px;
                    cursor: pointer;
                    &:hover{
                        background: $bottom-nav-background;
                        color: $white;
                    }
                }
                .city--borderNone{
                    border-bottom: none;
                }
            }
            .main-movies-top{
                display: grid;
                grid-template-columns: 30% 70%;
                grid-template-rows: repeat(3, 141px);
                z-index: 1;
                .grid-item1{
                    grid-column: 1/2;
                    grid-row: 1/2;
                }
                .grid-item2{
                    grid-column: 1/2;
                    grid-row: 2/3;
                }
                .grid-item3{
                    grid-column: 1/2;
                    grid-row: 3/4;
                }
                .grid-item4{
                    grid-column: 2/3;
                    grid-row: 1/4;
                }
                .main-movies-top-left__movies,
                .main-movies-top-left__cinemas,
                .main-movies-top-left__premieres{
                    background: rgb(192,35,40);
                    background: linear-gradient(180deg, rgba(192,35,40,1) 0%, rgba(141,6,8,1) 100%);
                    border: 1px solid $top-nav-font-color;
                    text-align: center;
                    width: 100%;
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    cursor: pointer;
                    transition: all .3s ease;
                    &:hover{
                        box-shadow: 0px 0px 30px #000;
                        img{
                            border: 2px solid #fff;
                            padding: 5px;
                            box-shadow: 0px 0px 10px #fff;
                        }
                        .title{
                            text-shadow: 0px 0px 5px #fff;
                        }
                    }
                    .texts{
                        img{
                            border-radius: 100%;
                            transition: all .3s ease;
                        }
                        .title{
                            font-size: 22px;
                            transition: all .3s ease;
                        }
                    }
                }
            }
            .carrousel-container{
                width: 100%;
                overflow: hidden;
                position: relative;
                .slider{
                    width: 100%;
                    display: flex;
                    height: 100%;
                    .slider__img{
                        min-width: 100%;
                        height: 100%;
                        img{
                            z-index: 1;
                            width: 100%;
                            height: 100%;
                        }
                    }
                }
                .carrousel-container__before,
                .carrousel-container__next{
                    position: absolute;
                    border: none;
                    background: none;
                    color: rgba($white, .7);
                    font-size: 42px;
                    font-weight: 700;
                    top: 50%;
                    text-shadow: 1px 1px 5px #000;
                    z-index: 500;
                    cursor: pointer;
                    &:hover{
                        color: rgba($white, 1);
                    }
                    &:active{
                        color: #000;
                    }
                }
                .carrousel-container__before{
                    left: 30px;
                }
                .carrousel-container__next{
                    right:30px;
                }
            }
            .main-movies-bottom{
                width: 100%;
                img{
                    width: 100%;
                    vertical-align: top;
                }
            }

        }
    }
}

.cities--show{
    display: none;
}

.current-city--active{
    color: #000;
}