main{
    .movies-gallery{
        margin-bottom: 10px;
        .container{
            display: flex;
            flex-wrap: wrap;
            overflow: visible;
            .movie{
                width: 25%;
                box-shadow: 0px 0px 5px $top-nav-font-color;
                background: transparent;
                transition: all .3s ease;
                &:hover{
                    transform: translate(10px, -10px);
                    opacity: .8;
                }
                img{
                    cursor: pointer;
                    background: transparent;
                    width: 100%;
                    vertical-align: top;
                }
            }   
        }
    }
}